[Unit]
Description="Log Spam Service"

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c "while true; do hexdump -Cv /dev/zero  2>/dev/null; done"
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
